body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-container {
    max-width: 1200px; /* Максимальная ширина для сайта */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 0 20px; /* Отступы по бокам */
}

header {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

header img {
    width: 100%;
    height: auto;
    display: block;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    color: white;
}

.text-block {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.content-section {
    padding: 20px;
}

.content-section p {
    margin-bottom: 15px;
}

.content-section b {
    font-weight: bold;
}

.centered-heading {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Отступ между карточками */
    justify-content: space-between; /* Распределение карточек по ширине */
}

.product-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    max-width: calc(25% - 20px); /* Ширина карточки для 4 карточек в ряду */
    box-sizing: border-box; /* Учитывает отступы и границы в ширину */
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.order-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
}

.order-button:hover {
    background-color: #45a049;
}
