/* Основные стили для сайта */
body {
    font-family: 'Engravers', serif; /* Используем шрифт Engravers для премиального вида */
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
}

.logo {
    font-family: 'Engravers', serif;
}

.nav-link {
    font-size: 16px;
    margin: 0 15px;
}

#hero {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.card {
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.premium-card .card-body {
    padding: 2rem;
}

.premium-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.premium-card .card-text {
    font-size: 1rem;
}

.premium-card .card-img-top {
    max-height: 400px; /* Максимальная высота изображения */
    object-fit: cover; /* Сохранение пропорций и заполнение */
    border-bottom: 1px solid #e0e0e0;
}

.bg-dark {
    background-color: #333;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1200px;
}

.btn-lg {
    padding: 1rem 2rem;
    font-size: 1.25rem;
}

.price-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left; /* Выравнивание по левому краю */
}

.price-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e0e0e0;
}

.price-quantity {
    font-weight: bold;
}

.price-value {
    color: #e74c3c; /* Цвет для цен */
}
