body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-container {
    max-width: 1500px; /* Увеличенная максимальная ширина для сайта */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 0 20px; /* Отступы по бокам */
}

header {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

header img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Изображение будет покрывать блок */
    object-position: center top; /* Обрезка снизу */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Высота блока в шапке */
    max-height: calc(100% - 300px); /* Высота блока с учетом обрезки */
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    color: white;
}

.text-block {
    text-align: center; /* Центрирование текста */
    padding: 40px 20px; /* Увеличенные отступы для текста */
    margin-top: 20px;
    font-size: 18px; /* Увеличенный шрифт */
    line-height: 1.6; /* Более высокий межстрочный интервал */
}

.content-section p {
    margin-bottom: 15px;
}

.content-section b {
    font-weight: bold;
}

.centered-heading {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 36px; /* Увеличенный размер шрифта */
    font-weight: bold;
    margin: 20px 0;
    background: none; /* Удаление фона заголовка */
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    max-width: 250px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.order-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
}

.order-button:hover {
    background-color: #45a049;
}
